__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
.git/
.github/
.mypy_cache/
.pytest_cache/
.ruff_cache/
node_modules/
js/
php/
tests/
benchmarks/
docs/
examples/
*.md
!README.md
LICENSE
COMMERCIAL.md
*.txt
.pre-commit-config.yaml
.gitignore
